{% extends 'base.html.twig' %}

{% block title %}Gestion des enclos{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <h1>Gestion des enclos</h1>
        <div class="row">
            {% for e in enclos %}
                <div class="col col-3">
                        <div class="card-body">
                                <span>Je m'appelle <b>{{ e.nom }}</b> et <b>je mesure {{ e.superficie }}</b></span>
                            <div class="bouton-enclos">
                                <a href="{{ path("app_enclos_modifier", {"id": e.id}) }}" class="btn btn-info">modifier</a>
                                <a href="{{ path("app_enclos_supprimer", {"id": e.id}) }}" class="btn btn-danger">supprimer</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <a href="{{ path("app_enclos_ajouter") }}" class="mt-5 btn btn-primary">Ajouter un enclos</a>
    </div>
{% endblock %}