{% extends 'base.html.twig' %}

{% block title %}Gestion des enclos{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <h1>Gestion des enclos</h1>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Superficie</th>
                <th>Animaux maximum</th>
                <th>Quarantaine</th>
                <th></th>
            </tr>
            {% for e in enclos %}
                <tr>
                    <td><i>{{ e.nom }}</i></td>
                    <td><i>{{ e.superficie }}m²</i></td>
                    <td>{% if e.maxAnimaux <= 1 %}
                            Il y a <i>{{ e.maxAnimaux}}</i> animal max
                        {% elseif e.maxAnimaux > 1 %}
                           Il y a <i>{{ e.maxAnimaux }}</i> animaux max
                        {% endif %}</td>
                    <td>{% if e.quarantaine == 0 %}
                            Cet enclos <i>n'est pas</i> en quarantaine
                        {% elseif e.quarantaine == 1%}
                            Cet enclos <i>est</i> en quarantaine
                        {% endif %}</td>
                    <td>
                        <a href="{{ path("app_enclos_modifier", {"id":e.id}) }}" class="btn btn-info">Modifier l'enclos</a>
                        <a href="{{ path("app_enclos_supprimer", {"id":e.id, "error":"0"}) }}" class="btn btn-danger">Supprimer l'enclos</a>
                        <a href="{{ path("app_enclos_animal", {"id":e.id}) }}" class="btn btn-warning">Voir les animaux</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path("app_enclos_ajouter") }}" class="mt-5 btn btn-primary">Ajouter un enclos</a>
    </div>
{% endblock %}