{% extends 'base.html.twig' %}

{% block title %}Gestion du Zoo{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion du zoo</h1>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Superficie</th>
                <th></th>
            </tr>
            {% for e in espace %}
                <tr>
                    <td>{{ e.nom }}</td>
                    <td>{{ e.superficie }}</td>
                    <td>
                        <a href="{{ path("app_espace_modifier", {"id":e.id}) }}" class="btn btn-info">Modifier l'espace</a>
                        <a href="{{ path("app_espace_supprimer", {"id":e.id}) }}" class="btn btn-danger">Supprimer l'espace</a>
                        <a href="{{ path("app_enclos", {"id":e.id}) }}" class="btn btn-warning">Voir les enclos</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path("app_espace_ajouter") }}" class="btn btn-primary">Ajouter un espace</a>
        <a href="{{ path("app_enclos_ajouter") }}" class="btn btn-primary">Ajouter un enclos</a>
        <a href="{{ path('app_animal_ajouter') }}" class="btn btn-primary">Ajouter un animal</a>
    </div>
{% endblock %}